<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title> Free Stylish Login Page Website Template | Smarteyeapps.com</title>

    <link rel="shortcut icon" href="assets/images/fav.jpg">
    <link rel="stylesheet" href="assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/css/fontawsom-all.min.css">
    <link rel="stylesheet" type="text/css" href="assets/css/style.css" />
</head>

<body>
    <div class="container-fluid ">
        
                <div class=" no-pdding login-box">
                    <div class="row no-margin w-100 bklmj">
                        <div class="col-lg-6 col-md-6 log-det">
                            
                            <h2>Login</h2>
                            
                           
                            <div class="row no-margin past">
                                <p>Dont Have an Account? <span>Create your Account</span> </p>
                            </div>


                            <div class="text-box-cont">
                                <h1>LOGIN</h1>
                            </div>
                            
                             

                        </div>
                        <div class="col-lg-6 col-md-6 box-de">
                            <div class="ditk-inf">
                                <h2 class="w-100">Welcome Back </h2>
                                <p>Simply Create your account by <br> clicking the Signup Button</p>
                                <a type="button" class="btn btn-outline-light" href="/logout">Logout</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
       
</body>

<script src="assets/js/jquery-3.2.1.min.js"></script>
<script src="assets/js/popper.min.js"></script>
<script src="assets/js/bootstrap.min.js"></script>
<script src="assets/js/script.js"></script>


</html>
